.table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(58, 56, 54, 0.7);
    border-radius: 15px;
    height: fit-content;
     padding: 0.4rem 0.3rem;
    margin: 0.8rem auto;
    font-size: smaller;
    width: 90%;
   
   
}
.table > div > p {
    font-size: larger;
    
}
 .table div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.1rem 0.2rem;
    


}
.table p {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    top: -20%;
    font-weight: light;
    text-align: center;
    padding: 0.1rem 0.2rem;
    
}
.table p:last-child {
    font-size: larger;
    font-weight: bolder;
    
}
h1 {
    margin: 0;
    padding: 0;
    text-align: end;
    margin-right: 2%;
}
summary {
    position: relative;
}
summary::after{
    content: '';
    position: absolute;
    right: 20px;
    top: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-bottom: 3px solid #A1A1A1;
    border-right: 3px solid #A1A1A1;
    transform: rotateZ(-45deg);
    transition: transform 0.3s ;
}

details[open] summary::after {
    
    transform: rotateZ(45deg);
    transition: transform 0.3s ;
}

@media (max-width: 686px) {
    .table > div > p {
        font-size: smaller;
        
    }
    summary::after {
        right: 4%;
    }
    
    
}