details {
  cursor: default;
}
summary {
  display: block;
}

.container {
  width: 70%;
  margin: 4rem auto;
  background-color: rgba(255, 255, 255, 0.247);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
.container h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.flexContainer * {
  display: inline;

  vertical-align: middle;
}
.flexContainer {
  border: 2px solid rgb(161, 161, 161);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
.flexItem {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.6em;
}
.flexItem:first-child p:first-child {
  font-weight: bold;
}

.subFlexItem {
  height: fit-content;

  width: 50%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  text-align: center;
}

.subFlexItem img {
  width: 50px;
}
.subFlexItem p {
  width: fit-content;
  padding: 0rem 0.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.subFlexItem svg,
.moreInfo svg {
  height: 40px;
  fill: rgb(27, 77, 228);
  color: rgb(27, 77, 228);
}

.ul {
  width: 90%;
  margin: 1rem auto;
  padding: 0;
  list-style-type: none;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(161, 161, 161);
}
.ul li {
  margin: 2%;
  padding: 3%;
  border: 1px solid rgb(161, 161, 161);
  display: flex;
  flex-direction: row;
  width: 12%;
}
.spanContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.spanContainer span:last-child {
  font-weight: bold;
}

@media screen and (max-width: 868px) {
  .flexItem {
    width: 100%;
    font-size: small;
  }
  .container {
    width: 90%;
  }

  .flexItem:last-child {
    display: none;
  }

  .subFlexItem {
    flex-direction: row;
    padding: 0.2rem 0;
    gap: 0;
  }
  .subFlexItem img {
    width: 25px;
  }
  .ul {
    flex-wrap: wrap;
  }
  .ul li {
    width: 35%;
  }
  .moreInfo {
    font-size: small;
  }
}
