.container {
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 1rem 1rem;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  min-width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 30vh;
  overflow: hidden;
}
.container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.formActions {
  display: flex;
  gap: 5%;
}
.formActions button:nth-child(1) {
  color: brown;
  border: 1px brown solid;
  transition: all 0.2s;
}
.formActions button:nth-child(2):not(:disabled) {
  background-color: #0090ff;
  border: 1px #0090ff solid;
  color: white;
  transition: all 0.2s;
}

.formActions button:nth-child(1):hover {
  transition: all 0.2s;
  color: white;
  background-color: brown;
  border-color: brown;
}

.formActions button:nth-child(2):not(:disabled):hover {
  color: rgb(0, 123, 255);
  background-color: white;
}

.container select,
.container button {
  padding: 0.4rem 0.2rem;
  margin: 0.4rem 0.2rem;
  width: 80%;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}

.FormOpen {
  display: flex;
  animation: openForm 0.4s ease-out forwards;
}

.FormClosed {
  display: none;
  animation: closeForm 0.4s ease-out forwards;
}

@keyframes openForm {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeForm {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

@media (max-width: 1130px) {
  .container {
    width: 50%;
    left: 25%;
  }
}
@media (max-width: 600px) {
  .container {
    min-width: 0;
    left: 10%;
    width: 80%;
  }
  .container select option {
    font-size: medium;
  }
}
