.navBar {
  margin: 0;
  padding: 0;
  position: sticky;
  top: -1px;
  z-index: 5;
  background-image: url("../../../public/nav.webp");
  background-size: cover;
  background-position: 0% 0%;
  border-bottom: 3px solid white;
  padding: 0.8rem 1.6rem;
  height: 90px;
}

.navBar h1 {
  text-align: center;
  margin: 0 auto;
  color: white;
}

.navUl {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
  background-color: transparent;
  align-items: center;
  margin: 0;
  height: 100%;
}

.navUl li {
  width: fit-content;
  font-size: xx-large;
  display: flex;
  align-items: center;
}
.navUl > li:first-child {
  min-width: fit-content;
  margin: 0;
  margin-right: 22%;
}
.navigationContainer {
  display: flex;
  flex-direction: row;
  width: fit-content;
  text-shadow: 2px 2px 2px black;
}
.navigationContainer > * {
  background-color: transparent;
  margin: 0.2rem 1rem;
}
.navUl .addCityContainer {
  width: 400px;
  min-width: 10%;
  display: flex;
  flex-direction: row;
}

.navBar button:hover {
  cursor: pointer;
  background-color: #3c1e1e51;
}
.navUl li * {
  color: white;
  text-decoration: none;
}

.active,
.navBar li a:hover {
  box-sizing: border-box;
  border-bottom: 2px solid white;
}

.title:hover {
  cursor: pointer;
}

.navBar button {
  margin: 0;
  background-color: #0d0a9340;
  border: #8ecece 2px solid;
  color: white;
  border-radius: 36px;
  padding: 0.6rem;
  white-space: nowrap;
  margin-left: 1rem;
}
.addButton {
  transform: scale(0%);
  transition: all 0.2s ease-in-out;
}
.addButtonShown {
  transform: scale(100%);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 868px) {
  .navUl li {
    font-size: large;
  }
  .navUl {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
  }

  .navUl > li:first-child {
    margin: 0;
    margin-bottom: 2px;
  }

  .navUl .addCityContainer {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
  }
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 400px;
  margin: auto;
  background-color: green;
}
